@import "../abstracts/mixins";
@import "../abstracts/variables";

.container-form {
    @include container-form;
}

.screen-form {
    @include screen-form;

    .screen-form__content {
        @include screen-form__content;

        .form {
            @include form;

            .form__field {
                @include form__field;

                .form__icon {
                    @include form__icon;
                }

                .form__input {
                    @include form__input;
                }

                .form__input:active,
                .form__input:focus {
                    @include input-focus;
                }
            }

            .btn__submit {
                @include button-submit;

                .btn__icon {
                    @include button-icon;
                }
            }

            .btn__submit:active,
            .btn__submit:focus,
            .btn__submit:hover {
                @include button-submit-focus;
            }
        }
    }

    .screen-form__background {
        @include screen-form__background;

        .screen-background__shape {
            @include screen-background__shape;
        }

        .screen-background__shape1 {
            @include screen-background__shape1;
        }

        .screen-background__shape2 {
            @include screen-background__shape2;
        }

        .screen-background__shape3 {
            @include screen-background__shape3;
        }

        .screen-background__shape4 {
            @include screen-background__shape4;
        }
    }
}

.form__forgot-password {
    padding-top: 10px;
    text-decoration: none;
    font-family: Raleway, sans-serif;
}

.social-login {
    position: absolute;
    height: 90px;
    width: 160px;
    text-align: center;
    right: 0px;
    color: #fff;
}



.signup-button {
    position: absolute;
    text-align: center;
    width: 320px;
    height: 70px;
    bottom: 0px;
    @include design-link;

    .signup {
        @include design-link;
        transition: 0.3s ease-in-out;
    }

    .signup:hover {
        color: #4C489D;
    }

    span {
        padding-right: 5px;
        font-weight: normal;
    }
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #7875B5;
    transition: 0.3s ease-in-out;
}

.social-login__icon:hover {
    transform: scale(2);
    color: #fbbc05;
}