@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

#footer {
    padding: 20px 0 10px 0;
    background: #1b2430;
    color: white !important;

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    #title-footer {
        font-weight: 700 !important;
    }

    #item-icon {
        font-size: 15px;
        margin-right: 10px;
    }

    #list {

        #list-item,
        #list-item>a {
            padding-left: 0;
            font-family: 'Roboto Condensed', sans-serif;
            color: #fff !important;
        }
    }

    #row-container {
        align-items: start;
    }
}